* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    width: 100%;
}

.miBoton {
    background-color: blueviolet;
    border-radius: 60px;
    color: white;
}

.form {
    margin-top: 15px;
    margin-left: 10%;
    margin-bottom: 300px;
}

.graphics {
    width: 80%;
    margin-left: 10%;
}

.btn {
    margin-top: 10px;
    width: 20%;
}

#altura,
#velocidad {
    width: 20%;
}

.results {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    border: 1px solid gray;
    margin-top: 15px;
    margin-right: 10%;
    max-width: 45%;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
}

.results ul {
    padding-left: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-right: 10px;
    margin-top: 10px;
}

.results li {
    list-style-type: none;
}